<div class="flex flex-col">
  <div class="flex justify-between my-4">
    <h2>
      My Bookmarks
      @if (bookmarkCount > 0) {
        <span class="text-base">({{ bookmarkCount }})</span>
      }
    </h2>
    <button class="cursor-pointer" (click)="ref.close()">❌</button>
  </div>

  @for (bookmark of bookmarks() | sortedDates; track $index) {
    <div
      class="border-dashed border-b border-gray-700 py-3"
      [class.border-none]="$index === bookmarks().length - 1"
    >
      <div class="text-sm underline cursor-pointer" (click)="navigateBookmark(bookmark)">
        "Book of <span class="text-emerald-600 font-bold">{{ bookmark.book }}</span
        >" Chapter
        <span class="text-emerald-600 font-bold">{{ bookmark.chapter }}</span>
      </div>
      <div class="flex items-center justify-between max-lg:flex-col">
        <div class="flex flex-col">
          <div class="flex items-start">
            <div
              class="flex items-center justify-center text-center bg-white px-1 mr-2 mt-1.5 rounded-xs"
            >
              <span class="text-emerald-800 text-xs font-bold">
                {{ bookmark.verse }}
              </span>
            </div>
            <div>
              <span class="text-xs">{{ bookmark.text }}</span>
            </div>
          </div>

          <span class="text-[10px] mt-1 text-gray-400 italic"
            >{{ bookmark.dateAdded | date: 'MMM d, y h:mm'
            }}{{ bookmark.dateAdded | date: 'a' | lowercase }}</span
          >
        </div>

        <div class="w-100 flex justify-end max-lg:justify-center">
          <div class="flex flex-col gap-2 max-lg:flex-row max-lg:mt-2">
            <button
              class="cursor-pointer text-xs border px-5 py-2 rounded text-emerald-500"
              (click)="copyVerse(bookmark)"
            >
              @if (
                selectedCopyVerse()?.book === bookmark.book &&
                selectedCopyVerse()?.chapter === bookmark.chapter &&
                selectedCopyVerse()?.verse === bookmark.verse
              ) {
                ✔️
              } @else {
                📋
              }

              Copy
            </button>

            <button
              class="cursor-pointer text-xs border px-5 py-2 rounded text-red-500"
              (click)="removeBookmarked(bookmark)"
            >
              ❌ Remove
            </button>
          </div>
        </div>
      </div>
    </div>
  }

  @if (bookmarks().length === 0) {
    <p class="text-center text-gray-500 mt-4">No bookmarks yet.</p>
  }
</div>
