<div class="flex flex-col">
  <div class="flex justify-between my-4">
    <h2>My Bookmarks</h2>
    <button class="cursor-pointer" (click)="ref.close()">❌</button>
  </div>

  @for (bookmark of bookmarks(); track $index) {
    <p-card class="p-0 m-0 bg-gray-100">
      <div class="text-sm underline cursor-pointer" (click)="navigateBookmark(bookmark)">
        "Book of <span class="text-emerald-600 font-bold">{{ bookmark.book }}</span
        >" Chapter
        <span class="text-emerald-600 font-bold">{{ bookmark.chapter }}</span>
      </div>
      <div class="flex items-center justify-between">
        <div class="flex items-start">
          <div
            class="flex items-center justify-center text-center bg-white px-1 mr-2 mt-1.5 rounded-xs"
          >
            <span class="text-emerald-800 text-xs font-bold">
              {{ bookmark.verse }}
            </span>
          </div>
          <div>
            <span class="text-xs">{{ bookmark.text }}</span>
          </div>
        </div>

        <div class="w-100 flex justify-end">
          <div class="flex flex-col gap-2">
            <button
              class="cursor-pointer text-xs border px-5 py-2 rounded text-emerald-500"
              (click)="copyVerse(bookmark)"
            >
              📋 Copy
            </button>

            <button
              class="cursor-pointer text-xs border px-5 py-2 rounded text-red-500"
              (click)="removeBookmark(bookmark)"
            >
              ❌ Remove
            </button>
          </div>
        </div>
      </div>
    </p-card>
  }

  @if (bookmarks().length === 0) {
    <p class="text-center text-gray-500 mt-4">No bookmarks yet.</p>
  }
</div>
