<div class="flex flex-col">
  <div class="bookmarks-header flex items-center justify-between p-2">
    <h2 class="flex items-center gap-2 font-bold">
      <span class="text-[var(--p-primary-700)] dark:text-[var(--p-primary-100)]">My Bookmarks</span>
      @if (bookmarks().length > 0) {
        <span
          class="bg-[var(--p-primary-100)] dark:bg-[var(--p-primary-600)] text-[var(--p-primary-700)] dark:text-[var(--p-primary-100)] rounded py-0.5 px-1.5 flex items-center justify-center text-xs"
        >
          {{ bookmarks().length }}
        </span>
      }
    </h2>

    <span class="pi pi-times cursor-pointer text-red-500 p-2" (click)="ref.close()"></span>
  </div>

  <div class="testament-buttons">
    <p-selectbutton
      [allowEmpty]="false"
      [options]="testaments()"
      optionLabel="label"
      optionValue="value"
      dataKey="value"
      size="small"
      class="text-xs"
      [(ngModel)]="testament"
      (onChange)="updateTestament($event.value)"
    />
  </div>

  <p-scrollpanel class="px-2 pb-2 bookmarks-content">
    @for (bookmark of filteredBookmarks() | sortedDates; track $index) {
      <div
        class="font-light border-dashed border-b border-[var(--p-primary-100)] dark:border-[var(--p-primary-700)] py-3"
        [class.border-none]="$index === filteredBookmarks().length - 1"
      >
        <div class="text-sm tracking-widest">
          <span
            class="font-bold text-[var(--p-primary-500)] dark:text-[var(--p-primary-50)] underline cursor-pointer"
            (click)="navigateBookmark(bookmark)"
            >"{{ bookmark.book }}"</span
          >
          Chapter
          <span class="font-bold text-[var(--p-primary-500)] dark:text-[var(--p-primary-50)]">{{
            bookmark.chapter
          }}</span>
        </div>

        <div class="flex items-start justify-between max-sm:flex-col gap-2">
          <div class="flex flex-col items-start">
            <div class="flex items-start">
              <div class="flex items-center justify-center text-center mr-2 mt-1.5">
                <span
                  class="text-[var(--p-primary-500)] dark:text-[var(--p-primary-100)] text-xs font-bold"
                >
                  {{ bookmark.verse }}
                </span>
              </div>
              <div>
                <span
                  class="text-xs text-[var(--p-primary-700)] dark:text-[var(--p-primary-50)] font-light"
                  [ngClass]="{
                    'text-yellow-700 dark:text-yellow-200 font-semibold':
                      isAudioLoading() && isPlayingAudio(bookmark),
                  }"
                  >{{ bookmark.text }}</span
                >
              </div>
            </div>

            <span class="text-[10px] mt-1 text-gray-500 dark:text-gray-300 italic"
              >{{ bookmark.dateAdded | date: 'MMM d, y h:mm'
              }}{{ bookmark.dateAdded | date: 'a' | lowercase }}</span
            >
          </div>

          <div class="flex justify-end max-sm:justify-center max-sm:w-full">
            <div class="flex flex-row gap-1 max-sm:flex-row max-sm:mt-2">
              <button
                type="button"
                (click)="audio(bookmark)"
                [disabled]="isAudioLoading()"
                [pTooltip]="isAudioLoading() ? 'Audio is playing...' : 'Play audio'"
                [tooltipDisabled]="isAudioLoading() && !isPlayingAudio(bookmark)"
                tooltipPosition="bottom"
                tooltipStyleClass="text-xs"
                class="pi w-8 h-8 cursor-pointer text-[var(--p-primary-500)] dark:text-[var(--p-primary-200)] disabled:cursor-not-allowed"
                [ngClass]="{
                  'animate-pulse pi-volume-up': isAudioLoading() && isPlayingAudio(bookmark),
                  'pi-volume-off !text-sm': !isAudioLoading() || !isPlayingAudio(bookmark),
                }"
              ></button>

              <button
                class="w-8 h-8 cursor-pointer text-[var(--p-primary-700)] dark:text-[var(--p-primary-50)] py-1 px-1.5"
                (click)="copyVerse(bookmark)"
                [pTooltip]="isSelectedCopyVerse(bookmark) ? 'Verse copied' : 'Copy verse'"
                tooltipPosition="bottom"
                tooltipStyleClass="text-xs"
              >
                @if (isSelectedCopyVerse(bookmark)) {
                  <span class="pi pi-check text-green-400"></span>
                } @else {
                  <span class="pi pi-copy text-green-400 hover:text-green-500"></span>
                }
              </button>

              <button
                class="w-8 h-8 cursor-pointer text-[var(--p-primary-700)] dark:text-[var(--p-primary-50)] py-1 px-1.5 disabled:cursor-not-allowed"
                (click)="removeBookmarked(bookmark)"
                pTooltip="Remove bookmark"
                tooltipPosition="bottom"
                tooltipStyleClass="text-xs"
                [disabled]="isAudioLoading()"
              >
                <span
                  class="pi pi-trash text-red-400"
                  [ngClass]="{
                    'hover:text-red-500': !isAudioLoading(),
                  }"
                ></span>
              </button>
            </div>
          </div>
        </div>
      </div>
    }

    @if (filteredBookmarks().length === 0) {
      <p class="text-center text-gray-500 mt-4 text-sm">No bookmarks yet.</p>
    }
  </p-scrollpanel>
</div>
