<app-header></app-header>

<p-drawer
  [visible]="appSettings.isSidebarVisible()"
  (visibleChange)="appSettings.isSidebarVisible.set($event)"
  class="lg:hidden"
>
  <div
    class="drawer-header flex items-center justify-between px-2 py-3 border-b border-[var(--p-primary-100)] dark:border-[var(--p-primary-700)]"
  >
    <span class="text-lg font-semibold">Books</span>
    <span
      class="pi pi-times cursor-pointer text-red-500 px-2"
      (click)="appSettings.isSidebarVisible.set(false)"
    ></span>
  </div>

  <app-sidebar [allBooks]="allBooks()"></app-sidebar>
</p-drawer>

<main
  class="flex justify-center max-w-[1440px] mx-auto 2xl:border-x border-[var(--p-primary-100)] dark:border-[var(--p-primary-700)]"
>
  <div class="hidden lg:block bg-[var(--p-primary-50)] dark:bg-[var(--p-primary-800)]">
    <app-sidebar [allBooks]="allBooks()"></app-sidebar>
  </div>

  <div class="container flex flex-col">
    <div class="relative">
      @if (isSubHeaderVisible()) {
        <div
          class="filters-container flex items-center justify-between gap-1 px-2 max-md:pt-2 min-lg:px-30 dark:bg-[var(--p-primary-900)]"
        >
          <button
            class="flex items-center justify-center gap-2 h-10 max-md:h-7 px-2 rounded cursor-pointer disabled:text-stone-500 disabled:cursor-not-allowed text-[var(--p-primary-500)] dark:text-[var(--p-primary-100)] font-semibold"
            [disabled]="isFirstChapter()"
            (click)="previousChapter()"
          >
            <span class="pi pi-chevron-left"></span>
            <span class="hidden lg:block text-xs">Previous Chapter</span>
          </button>

          <div class="flex items-center justify-center gap-1 max-sm:flex-col">
            <p-select
              [options]="chapters()"
              [(ngModel)]="selectedChapter"
              optionLabel="label"
              optionValue="chapter"
              placeholder="Select a Chapter"
              class="w-60 max-md:h-8 max-md:leading-4"
              (ngModelChange)="selectChapter($event)"
            />

            <div class="inline-flex gap-2">
              <p-inputgroup>
                <input
                  inputId="search"
                  type="text"
                  pInputText
                  placeholder="Search"
                  class="w-80 max-md:h-8 max-md:leading-4 placeholder:text-sm"
                  [formControl]="searchControl"
                />
                <p-inputgroup-addon>
                  <p-button
                    class="max-md:h-7"
                    (click)="clearSearch()"
                    icon="pi pi-times"
                    [text]="true"
                    severity="danger"
                  >
                  </p-button>
                </p-inputgroup-addon>
              </p-inputgroup>
            </div>
          </div>

          <button
            class="flex items-center justify-center gap-2 h-10 max-md:h-7 px-2 rounded cursor-pointer disabled:text-stone-500 disabled:cursor-not-allowed text-[var(--p-primary-500)] dark:text-[var(--p-primary-100)] font-semibold"
            [disabled]="isLastChapter()"
            (click)="nextChapter()"
          >
            <span class="hidden lg:block text-xs">Next Chapter</span>
            <span class="pi pi-chevron-right"></span>
          </button>
        </div>

        <div
          class="book-chapter-container flex items-center justify-between min-lg:px-30 dark:bg-[var(--p-primary-900)] border-b border-[var(--p-primary-100)] dark:border-[var(--p-primary-700)]"
        >
          <div>
            <span
              (click)="audio()"
              class="pi pi-volume-up cursor-pointer p-2 rounded-full bg-[var(--p-primary-100)] dark:bg-[var(--p-primary-700)] border border-[var(--p-primary-200)] dark:border-[var(--p-primary-400)]"
            ></span>
          </div>

          <div class="flex flex-col items-center justify-center">
            <div
              class="flex items-center gap-1 px-3 py-1 bg-[var(--p-primary-600)] text-[var(--p-primary-100)] dark:bg-[var(--p-primary-100)] dark:text-[var(--p-primary-600)] rounded cursor-pointer"
              (click)="op.toggle($event)"
              pTooltip="What is this book about?"
              tooltipPosition="bottom"
            >
              <span class="pi pi-info-circle animate-bounce [animation-delay:-0.3s]"></span>
              <span class="uppercase text-sm lg:text-lg font-semibold">{{
                paramsBook()?.name
              }}</span>
            </div>
            <div class="mt-1">
              <span
                class="text-[var(--p-primary-600)] dark:text-[var(--p-primary-100)] text-3xl lg:text-4xl"
              >
                {{ paramsChapter() || 1 }}
              </span>
            </div>
            <div>
              <span
                class="text-[var(--p-primary-600)] dark:text-[var(--p-primary-100)] text-md lg:text-lg"
              >
                Chapter
              </span>
            </div>
          </div>

          <div></div>
        </div>
      }

      <div
        class="rounded-full w-7 h-7 flex items-center justify-center cursor-pointer z-10 absolute right-0 mr-15 bottom-0 mx-auto -mb-3 bg-[var(--p-primary-100)] dark:bg-[var(--p-primary-700)] border border-[var(--p-primary-200)] dark:border-[var(--p-primary-400)]"
        (click)="toggleSubHeader()"
      >
        <span
          class="pi !text-sm text-[var(--p-primary-300)] dark:text-[var(--p-primary-100)]"
          [ngClass]="{
            'pi-angle-double-up': isSubHeaderVisible(),
            'pi-angle-double-down': !isSubHeaderVisible(),
          }"
        ></span>
      </div>
    </div>

    <p-popover #op [dismissable]="true">
      <div class="w-100 max-md:w-full">
        {{ paramsBook()?.description }}
      </div>
    </p-popover>

    <p-scrollpanel
      class="verses-container dark:bg-[var(--p-primary-950)] pb-2"
      [ngClass]="{
        '!h-full': !isSubHeaderVisible(),
      }"
    >
      @if (isLoading()) {
        <div
          class="flex items-center justify-center gap-2 size-full text-md text-[var(--p-primary-600)] dark:text-[var(--p-primary-100)]"
        >
          <span>Loading</span>
          <div class="flex items-end gap-1 mt-2">
            <span
              class="w-1.5 h-1.5 bg-[var(--p-primary-600)] dark:bg-[var(--p-primary-100)] rounded-full animate-bounce [animation-delay:-0.3s]"
            ></span>
            <span
              class="w-1.5 h-1.5 bg-[var(--p-primary-600)] dark:bg-[var(--p-primary-100)] rounded-full animate-bounce [animation-delay:-0.15s]"
            ></span>
            <span
              class="w-1.5 h-1.5 bg-[var(--p-primary-600)] dark:bg-[var(--p-primary-100)] rounded-full animate-bounce"
            ></span>
          </div>
        </div>
      } @else {
        @for (verse of verses(); track $index) {
          @let isBookmarked =
            bookmarkService.bookmarks().find(
          (item) =>
            item.book === verse.book && +item.chapter === +verse.chapter && +item.verse === +verse.verse
        );

          <div #versesList class="flex items-start min-lg:px-30 p-2 max-lg:px-2">
            <div class="flex p-1 rounded-xs flex-none w-[40px]">
              <span
                class="text-md text-[var(--p-primary-600)] dark:text-[var(--p-primary-100)] font-semibold"
              >
                {{ verse.verse }}
              </span>
            </div>

            <div
              [ngClass]="{
                'bg-[var(--p-primary-100)] dark:bg-[var(--p-primary-800)] border !font-semibold':
                  isBookmarked,
                'font-semibold': selectedVerse()?.verse === verse.verse,
              }"
              class="px-2 rounded cursor-pointer text-[var(--p-primary-500)] dark:text-[var(--p-primary-100)] font-light"
              #targetElement
              (click)="openPopoverVerseActions($event, verse, targetElement)"
            >
              <span class="md:text-lg text-xs">
                @for (part of verse.text | highlight: searchControl.value; track $index) {
                  @if (part.match) {
                    <mark>{{ part.text }}</mark>
                  } @else {
                    {{ part.text }}
                  }
                }
              </span>
            </div>
          </div>
        }

        <p-popover #popoverVerseActions [dismissable]="true">
          @if (selectedVerse()) {
            <button
              class="absolute right-0 top-0 -mr-2 -mt-3 rounded-full w-5 h-5 leading-4 text-center bg-red-800 cursor-pointer"
              (click)="popoverVerseActions.hide()"
            >
              <span class="pi pi-times text-white" style="font-size: 0.7rem"></span>
            </button>

            <div class="flex gap-1">
              <button
                class="cursor-pointer bg-green-500/20 hover:bg-green-700/20 text-xs px-5 py-2 rounded"
                (click)="copyVerse(); popoverVerseActions.hide()"
              >
                📋 Copy
              </button>

              @if (isBookmarked()) {
                <button
                  class="cursor-pointer bg-red-500/20 hover:bg-red-700/20 text-xs px-5 py-2 rounded"
                  (click)="removeBookmarked(); popoverVerseActions.hide()"
                >
                  ❌ Remove
                </button>
              } @else {
                <button
                  class="cursor-pointer bg-green-500/20 hover:bg-green-700/20 text-xs px-5 py-2 rounded"
                  (click)="addBookmark(); popoverVerseActions.hide()"
                >
                  🔖 Bookmark
                </button>
              }
            </div>
          }
        </p-popover>
      }
    </p-scrollpanel>
  </div>
</main>
<footer></footer>
