@use '../../../styles/variables.scss' as *;

.container {
  width: $main-width;
  height: calc(100vh - #{$header-height});
  border-left: 1px solid #3f3f46;
  border-right: 1px solid #3f3f46;
}

.verses-scrollpanel {
  height: calc(100vh - #{$header-height} - 120px);
}

.selected-verse {
  background-color: rgba(29, 156, 108, 0.2);
  border-radius: 2px;
  padding-left: 5px;
  padding-right: 5px;
}

.bookmarked {
  background-color: rgba(255, 32, 32, 0.2);
  border-radius: 2px;
  padding-left: 5px;
  padding-right: 5px;
}
