<app-header></app-header>
<app-sidebar></app-sidebar>
<main class="flex items-center justify-center-safe">
  <div class="container flex flex-col">
    <div
      class="flex gap-1 items-center justify-center text-2xl text-emerald-500 font-bold mt-2 max-md:text-base"
    >
      <span class="md:block hidden">
        <span
          class="pi pi-question-circle cursor-pointer"
          (click)="op.toggle($event)"
          pTooltip="What is this book about?"
          tooltipPosition="bottom"
        ></span>
      </span>

      <span> Book of {{ book() }} </span>
    </div>

    <p-popover #op [dismissable]="true" styleClass="max-xl:-ml-3">
      <div class="w-100">
        {{ bookDetails().description }}
      </div>
    </p-popover>

    <div class="flex items-center lg:justify-between justify-center flex-wrap gap-1 px-2">
      <p-button
        styleClass="flex items-center justify-center h-10 max-md:h-7"
        [disabled]="isFirstChapter()"
        (click)="previousChapter()"
      >
        <span class="pi pi-chevron-left"></span>
        <span class="hidden lg:block">Previous Chapter</span>
      </p-button>

      <div class="flex items-center justify-center gap-1 max-md:order-first">
        <p-select
          [options]="chapters()"
          [(ngModel)]="selectedChapter"
          optionLabel="label"
          optionValue="chapter"
          placeholder="Select a Chapter"
          class="w-50 md:w-60 max-md:h-8 max-md:leading-4"
          (ngModelChange)="selectChapter($event)"
        />

        <div class="inline-flex gap-2">
          <p-inputgroup>
            <input
              inputId="search"
              type="text"
              pInputText
              placeholder="Search keyword..."
              class="w-80 max-md:h-8 max-md:leading-4 placeholder:text-sm"
              [formControl]="searchControl"
            />
            <p-inputgroup-addon>
              <p-button
                class="max-md:h-7"
                (click)="clearSearch()"
                icon="pi pi-times"
                [text]="true"
                severity="danger"
              >
              </p-button>
            </p-inputgroup-addon>
          </p-inputgroup>
        </div>
      </div>

      <p-button
        styleClass="flex items-center justify-center h-10 max-md:h-7"
        [disabled]="isLastChapter()"
        (click)="nextChapter()"
      >
        <span class="hidden lg:block">Next Chapter</span>
        <span class="pi pi-chevron-right"></span>
      </p-button>
    </div>

    <div class="px-2 mt-5">
      <p-scrollpanel class="verses-scrollpanel max-md:h-max">
        @for (verse of verses(); track $index) {
          <div class="flex items-start">
            <div
              class="flex items-center justify-center text-center bg-white px-1 mr-2 mt-1.5 rounded-xs"
            >
              <span class="text-emerald-800 text-xs font-bold" #targetElement>
                {{ verse.verse }}
              </span>
            </div>
            <div
              [class.bookmark-verses]="isBookmarked(verse)"
              [class.selected-verse]="selectedVerse()?.verse === verse.verse"
              (click)="openPopoverVerseAction($event, verse, targetElement)"
            >
              <span class="md:text-lg text-sm">
                @for (part of verse.text | highlight: searchControl.value; track $index) {
                  @if (part.match) {
                    <mark class="highlight">{{ part.text }}</mark>
                  } @else {
                    {{ part.text }}
                  }
                }
              </span>
            </div>
          </div>
        }

        <p-popover #popoverVerse [dismissable]="true">
          @if (selectedVerse()) {
            <button
              class="absolute right-0 top-0 -mr-2 -mt-3 rounded-full w-5 h-5 leading-4 text-center bg-red-800 cursor-pointer"
              (click)="popoverVerse.hide()"
            >
             <span class="pi pi-times text-white" style="font-size: 0.7rem"></span>
            </button>

            <div class="flex gap-1">
              <button
                class="cursor-pointer text-xs border px-5 py-2 rounded text-emerald-500"
                (click)="copyVerse(); popoverVerse.hide()"
              >
                📋 Copy
              </button>
              @if (isBookmarked(selectedVerse())) {
                <button
                  class="cursor-pointer text-xs border px-5 py-2 rounded text-red-500"
                  (click)="removeBookmark(); popoverVerse.hide()"
                >
                  ❌ Remove
                </button>
              } @else {
                <button
                  class="cursor-pointer text-xs border px-5 py-2 rounded text-emerald-500"
                  (click)="addBookmark(); popoverVerse.hide()"
                >
                  🔖 Bookmark
                </button>
              }
            </div>
          }
        </p-popover>

        <p-scrolltop
          target="parent"
          [threshold]="100"
          icon="pi pi-arrow-up"
          [buttonProps]="{ severity: 'contrast', raised: true, rounded: true }"
        />
      </p-scrollpanel>
    </div>
  </div>
</main>
<footer></footer>
