@use 'variables' as *;

.container {
  width: $main-width;
  height: calc(100vh - #{$header-height});
}

.sidebar-container {
  height: calc(100vh - #{$header-height});
  width: $sidebar-width;
}

.filters-container {
  height: $filters-container-height;
}

.book-chapter-container {
  height: $book-chapter-container-height;
}

.verses-container {
  height: calc(100vh - #{$filters-container-height} - #{$book-chapter-container-height});
}

