<div class="header-container border-b border-gray-800">
  <app-header (onToggleSidebar)="appSettings.toggleSidebar()"></app-header>
</div>

<p-drawer
  [visible]="appSettings.isSidebarVisible()"
  (visibleChange)="appSettings.isSidebarVisible.set($event)"
  header="Books"
  class="lg:hidden"
>
  <app-sidebar
    [allBooks]="allBooks()"
    [selectedBook]="selectedBook()!"
    (onBookSelected)="appSettings.isSidebarVisible.set(false)"
  ></app-sidebar>
</p-drawer>

<main class="flex justify-between max-w-[1440px] mx-auto border-x border-gray-800 relative">
  <div class="hidden lg:block sidebar-container border-r border-gray-800">
    <p-scrollpanel class="h-full">
      <app-sidebar [allBooks]="allBooks()" [selectedBook]="selectedBook()!"></app-sidebar>
    </p-scrollpanel>
  </div>

  <div class="container flex flex-col">
    <div
      class="filters-container flex items-center justify-between gap-1 p-2 bg-gray-950/80 min-lg:px-30"
    >
      <p-button
        styleClass="flex items-center justify-center h-10 max-md:h-7 "
        [disabled]="isFirstChapter()"
        (click)="previousChapter()"
        size="small"
      >
        <span class="pi pi-chevron-left text-gray-800"></span>
        <span class="hidden lg:block text-gray-800 font-semibold text-xs">Previous Chapter</span>
      </p-button>

      <div class="flex items-center justify-center gap-1">
        <p-select
          [options]="chapters()"
          [(ngModel)]="selectedChapter"
          optionLabel="label"
          optionValue="chapter"
          placeholder="Select a Chapter"
          class="w-50 md:w-60 max-md:h-8 max-md:leading-4"
          (ngModelChange)="selectChapter($event)"
        />

        <div class="inline-flex gap-2">
          <p-inputgroup>
            <input
              inputId="search"
              type="text"
              pInputText
              placeholder="Search keyword..."
              class="w-80 max-md:h-8 max-md:leading-4 placeholder:text-sm"
              [formControl]="searchControl"
            />
            <p-inputgroup-addon>
              <p-button
                class="max-md:h-7"
                (click)="clearSearch()"
                icon="pi pi-times"
                [text]="true"
                severity="danger"
              >
              </p-button>
            </p-inputgroup-addon>
          </p-inputgroup>
        </div>
      </div>

      <p-button
        styleClass="flex items-center justify-center h-10 max-md:h-7"
        [disabled]="isLastChapter()"
        (click)="nextChapter()"
        size="small"
      >
        <span class="hidden lg:block text-gray-800 font-semibold text-xs">Next Chapter</span>
        <span class="pi pi-chevron-right text-gray-800"></span>
      </p-button>
    </div>

    <div
      class="book-chapter-container flex flex-col items-center justify-center gap-1 bg-gray-950/40"
    >
      <div class="flex gap-1 items-center justify-center text-lg text-emerald-500 font-bold">
        <span class="md:block hidden">
          <span
            class="pi pi-question-circle cursor-pointer"
            (click)="op.toggle($event)"
            pTooltip="What is this book about?"
            tooltipPosition="bottom"
          ></span>
        </span>

        <span class="mr-3"> {{ selectedBook()?.name }} </span>
      </div>
      <div>
        <span class="text-4xl"> {{ selectedChapter() }} </span>
      </div>
      <div>
        <span class="text-lg"> Chapter </span>
      </div>
    </div>

    <p-popover #op [dismissable]="true" styleClass="max-xl:-ml-3">
      <div class="w-100">
        {{ selectedBook()?.description }}
      </div>
    </p-popover>

    <p-scrollpanel class="verses-container">
      <div class="mb-10 relative">
        @for (verse of verses(); track $index) {
          @let isBookmarked =
            bookmarkService.bookmarks().find(
          (item) =>
            item.book === verse.book && +item.chapter === +verse.chapter && +item.verse === +verse.verse
        );

          <div class="flex items-start min-lg:px-30 py-5 px-2">
            <div class="flex px-1 ml-2 mr-5 rounded-xs">
              <span class="text-md font-bold">
                {{ verse.verse }}
              </span>
            </div>

            <div
              [ngClass]="{
                bookmarked: isBookmarked,
                'selected-verse': selectedVerse().verse === verse.verse,
              }"
              #targetElement
              (click)="openPopoverVerseActions($event, verse, targetElement)"
            >
              <span class="md:text-lg text-xs">
                @for (part of verse.text | highlight: searchControl.value; track $index) {
                  @if (part.match) {
                    <mark>{{ part.text }}</mark>
                  } @else {
                    {{ part.text }}
                  }
                }
              </span>
            </div>
          </div>
        }

        <p-popover #popoverVerseActions [dismissable]="true">
          @if (selectedVerse()) {
            <button
              class="absolute right-0 top-0 -mr-2 -mt-3 rounded-full w-5 h-5 leading-4 text-center bg-red-800 cursor-pointer"
              (click)="popoverVerseActions.hide()"
            >
              <span class="pi pi-times text-white" style="font-size: 0.7rem"></span>
            </button>

            <div class="flex gap-1">
              <button
                class="cursor-pointer bg-green-500/50 hover:bg-green-700 text-xs px-5 py-2 rounded"
                (click)="copyVerse(); popoverVerseActions.hide()"
              >
                📋 Copy
              </button>

              @if (isBookmarked()) {
                <button
                  class="cursor-pointer bg-red-500/50 hover:bg-red-700 text-xs px-5 py-2 rounded"
                  (click)="removeBookmarked(); popoverVerseActions.hide()"
                >
                  ❌ Remove
                </button>
              } @else {
                <button
                  class="cursor-pointer bg-green-500/50 hover:bg-green-700 text-xs px-5 py-2 rounded"
                  (click)="addBookmark(); popoverVerseActions.hide()"
                >
                  🔖 Bookmark
                </button>
              }
            </div>
          }
        </p-popover>
      </div>

      <!-- <p-scrolltop
        target="parent"
        [threshold]="100"
        icon="pi pi-arrow-up"
        [buttonProps]="{ severity: 'contrast', raised: true, rounded: true }"
      /> -->
    </p-scrollpanel>
  </div>
</main>
<footer></footer>
