/* You can add global styles to this file, and also import other style files */
@use 'app/styles' as *;
@use 'tailwindcss';
@import 'primeicons/primeicons.css';

@custom-variant dark (&:where(.dark, .dark *));

html,
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
